* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

::selection {
    background-color: lightgreen;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* START  */

.main {
    background-image: url(../image/About-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    padding-bottom: 590px;
    margin-bottom: 100px;
}

.navbar-logo{
    padding-bottom: 70px;
}

.navbar-logo img{
    padding-top: 50px;
    width: 100px;
    margin-left: 25px;
}

.navbar-menu {
    text-align: right;
    padding-top: 50px;
}

.navbar-menu ul {
    padding: 0;
    margin-right: 20px;
    list-style-type: none;
}

.navbar-menu ul li {
    display: inline-block;
    padding: 0 20px;
}

.navbar-menu li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.main h1{
    margin: 0 auto;
    text-align: center;
    color: #2c541d;
    font-size: 65px;
    padding-top: 120px;
    letter-spacing: 10px;
}

.blocks .block-2 h1
{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 30px;
}

.blocks .block-2 p
{
    margin-left: 60px;
    max-width: 480px;
    line-height: 25px;
    font-size: 17px;
    color: #585858;
}

.blocks .block-2  img{
    width: 510px;
    height: 0 auto;
    margin-left: 50px;
    margin-bottom: 120px;
}

.ttu
{
    background-image: url(../image/Talk-to-us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 90px;
}

.ttu h1
{
    margin: 0 auto;
    text-align: center;
    color: #2c541d;
    font-size: 41px;
    letter-spacing: 6px;
}

.ttu p
{
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    max-width: 550px;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.gitbutton button{
    background-color: #74a84a;
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 16px;
    letter-spacing: 3px;
}

.footer
{
    text-align: center;
}

.fnavbar-logo img{
    width: 80px;
    margin: 40px 160px;
}

.fnavbar-menu ul {
    padding: 0;
    margin-left: 10px;
    list-style-type: none;
}

.fnavbar-menu ul li {
    display: inline-block;
    padding: 40px 20px;
}

.fnavbar-menu li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.trademark p
{
    font-size: 15px;
    text-align: center;
    margin: 40px 0px;
}
